Repository ppetru/tiddlywiki-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, lint

.lefthook.yml:

# ABOUTME: Pre-commit hook configuration using lefthook
# ABOUTME: Runs formatting check, linting, tests, and type checking before commits

pre-commit:
  parallel: false
  commands:
    format-check:
      glob: "*.{ts,js,json}"
      run: npm run format:check
      fail_text: "Formatting check failed. Run 'npm run format' to fix."

    lint:
      glob: "*.ts"
      run: npm run lint
      fail_text: "Linting failed. Run 'npm run lint:fix' to fix."

    test:
      run: npm test -- --run
      fail_text: "Tests failed. Fix the failing tests before committing."

    typecheck:
      run: npx tsc --noEmit
      fail_text: "TypeScript type checking failed. Fix the type errors before committing."

Use service discovery for Ollama URL resolution
  src/embeddings/ollama-client.ts
Due: format-check, lint

Add debug logging with LOG_DEBUG environment variable
  src/embeddings/ollama-client.ts
  src/embeddings/sync-worker.ts
  src/index.ts
  src/logger.ts
  src/service-discovery.ts
  src/tiddlywiki-http.ts
Due: format-check, lint

Ignore all dbs.
  .gitignore
Due: none

Prepare repository for public release
  LICENSE
  flake.nix
  lefthook.yml
  src/embeddings/database.ts
  src/embeddings/ollama-client.ts
  src/embeddings/sync-worker.ts
  src/filter-reference.ts
  src/tiddlywiki-http.ts
  test-type-preservation.js
Due: format-check, lint

Author name.
  LICENSE
  package.json
Due: format-check

Suppress console noise from tests during commits
  vitest.config.ts
Due: format-check, lint

Add npm publishing configuration
  package.json
Due: format-check

Update README with npx installation instructions
  README.md
Due: none

Bump version to 1.0.1
  package.json
Due: format-check
